In [2]:
#Importing the required libraries
import numpy as np
import pandas as pd

df1 = pd.read_csv('/content/drive/My Drive/Social_comment/Mldata/users.csv')
df2 = pd.read_csv('/content/drive/My Drive/Social_comment/Mldata/views.csv')

df1

                          _id                  name  gender      academics
0    5d60098a653a331687083238  Nivesh Singh Chauhan    male  undergraduate
1    5d610ae1653a331687083239         Gaurav Sharma    male       graduate
2    5d618359fc5fcf3bdd9a0910         Akshay Mishra    male  undergraduate
3    5d6d2bb87fa40e1417a49315        Saksham Mathur    male  undergraduate
4    5d7c994d5720533e15c3b1e9         Varun Chowhan    male  undergraduate
..                        ...                   ...     ...            ...
113  5ed35aa376027d35905cca67                 Steve    male       graduate
114  5ed3737976027d35905ccaa2        Himanshu Singh    male  undergraduate
115  5ed3748576027d35905ccaab           Parth Vijay    male  undergraduate
116  5ed3cbcbbd514d602c1530a7       Abhishek Mishra    male  undergraduate
117  5ed3e898bd514d602c1530de          gauri raskar  female       graduate

[118 rows x 4 columns]

In [3]:
df2

                       user_id  ...                 timestamp
0     5df49b32cc709107827fb3c7  ...  2020-06-01T10:46:45.131Z
1     5ed3748576027d35905ccaab  ...  2020-06-01T09:39:20.021Z
2     5ed0defa76027d35905cc2de  ...  2020-06-01T08:12:42.682Z
3     5ed0defa76027d35905cc2de  ...  2020-06-01T08:10:23.880Z
4     5ed0defa76027d35905cc2de  ...  2020-06-01T08:08:54.124Z
...                        ...  ...                       ...
1444  5d60098a653a331687083238  ...  2020-03-26T19:03:55.284Z
1445  5d60098a653a331687083238  ...  2020-03-26T19:01:42.384Z
1446  5d60098a653a331687083238  ...  2020-03-26T19:00:25.693Z
1447  5d60098a653a331687083238  ...  2020-03-26T18:49:14.721Z
1448  5d60098a653a331687083238  ...  2020-03-26T18:25:45.637Z

[1449 rows x 3 columns]

In [0]:
#Dataframe merging steps
df2
df2.rename(columns = {'user_id':'_id'}, inplace = True)

In [5]:
df = df1.merge(df2, on='_id')
df

                           _id  ...                 timestamp
0     5d60098a653a331687083238  ...  2020-05-31T18:01:54.308Z
1     5d60098a653a331687083238  ...  2020-05-31T08:21:29.911Z
2     5d60098a653a331687083238  ...  2020-05-29T19:13:27.566Z
3     5d60098a653a331687083238  ...  2020-05-29T19:10:50.010Z
4     5d60098a653a331687083238  ...  2020-05-29T19:10:23.887Z
...                        ...  ...                       ...
1444  5ed3748576027d35905ccaab  ...  2020-05-31T12:04:27.446Z
1445  5ed3748576027d35905ccaab  ...  2020-05-31T10:08:37.079Z
1446  5ed3748576027d35905ccaab  ...  2020-05-31T10:03:30.483Z
1447  5ed3cbcbbd514d602c1530a7  ...  2020-05-31T16:16:51.523Z
1448  5ed3e898bd514d602c1530de  ...  2020-05-31T18:56:56.215Z

[1449 rows x 6 columns]

In [6]:
df3 = pd.read_csv('/content/drive/My Drive/Social_comment/Mldata/posts.csv')
df3

                          _id  ...  post_type
0    5d62abaa65218653a132c956  ...       blog
1    5d6d39567fa40e1417a4931c  ...       blog
2    5d7d23315720533e15c3b1ee  ...       blog
3    5d7d405e5720533e15c3b1f3  ...    artwork
4    5d80dfbc6c53455f896e600e  ...       blog
..                        ...  ...        ...
488  5ed3791976027d35905ccab6  ...       blog
489  5ed3820f76027d35905ccac8  ...       blog
490  5ed3ef4cbd514d602c1530f2  ...    project
491  5ed415c6bd514d602c15312d  ...      skill
492  5ed4cbadbd514d602c1531a6  ...       blog

[493 rows x 4 columns]

In [7]:
df3.rename(columns = {'_id':'post_id'}, inplace = True) 
df3

                      post_id  ...  post_type
0    5d62abaa65218653a132c956  ...       blog
1    5d6d39567fa40e1417a4931c  ...       blog
2    5d7d23315720533e15c3b1ee  ...       blog
3    5d7d405e5720533e15c3b1f3  ...    artwork
4    5d80dfbc6c53455f896e600e  ...       blog
..                        ...  ...        ...
488  5ed3791976027d35905ccab6  ...       blog
489  5ed3820f76027d35905ccac8  ...       blog
490  5ed3ef4cbd514d602c1530f2  ...    project
491  5ed415c6bd514d602c15312d  ...      skill
492  5ed4cbadbd514d602c1531a6  ...       blog

[493 rows x 4 columns]

In [8]:
final_df = df.merge(df3,on='post_id')
final_df

                           _id  ...  post_type
0     5d60098a653a331687083238  ...       blog
1     5ecb979eeaff6b0c3a58a4f0  ...       blog
2     5ed0defa76027d35905cc2de  ...       blog
3     5ed3748576027d35905ccaab  ...       blog
4     5d60098a653a331687083238  ...       blog
...                        ...  ...        ...
1442  5ecb979eeaff6b0c3a58a4f0  ...    project
1443  5ecb979eeaff6b0c3a58a4f0  ...    project
1444  5ecf6e6576027d35905cbeec  ...    artwork
1445  5ed0defa76027d35905cc2de  ...    artwork
1446  5ed3748576027d35905ccaab  ...       blog

[1447 rows x 9 columns]

In [9]:
#Recommendations  based on title column only
#data cleaning steps
from html.parser import HTMLParser
html_parser = HTMLParser()
final_df['title'] = final_df['title'].apply(lambda x: html_parser.unescape(x))
import re
final_df['title']= final_df['title'].apply(lambda x: x.lower())

#Extracting only words from Service
final_df['title'] = final_df['title'].apply(lambda x: re.sub(r'#[\W]*',' ',x))

final_df["title"] = final_df['title'].apply(lambda x: re.sub(r'[^a-zA-Z0-9]',' ',x))
final_df['title']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: The unescape method is deprecated and will be removed in 3.5, use html.unescape() instead.
  """

0       configure docker with django  postgresql  pg a...
1       configure docker with django  postgresql  pg a...
2       configure docker with django  postgresql  pg a...
3       configure docker with django  postgresql  pg a...
4          aws services and how to launch os on aws cloud
                              ...
1442           navigation system using bfs dfs algorithms
1443                                   gan s introduction
1444    a solar powered microbrewery has design led en...
1445                                              energy
1446    configure ci cd pipeline in gitlab and deploym...
Name: title, Length: 1447, dtype: object

In [10]:
#More data clearning
Appostophes = {"'s":"is","'re":"are","s":" "}
final_df['title']
for i in range(len(final_df)):
  words =  final_df['title'][i]
  for word in words:
    if word == "'s":
      word= "is"
    elif word == "'re":
      word =  "are"
  final_df['title'][i] = words

final_df['title']

0       configure docker with django  postgresql  pg a...
1       configure docker with django  postgresql  pg a...
2       configure docker with django  postgresql  pg a...
3       configure docker with django  postgresql  pg a...
4          aws services and how to launch os on aws cloud
                              ...
1442           navigation system using bfs dfs algorithms
1443                                   gan s introduction
1444    a solar powered microbrewery has design led en...
1445                                              energy
1446    configure ci cd pipeline in gitlab and deploym...
Name: title, Length: 1447, dtype: object

In [11]:
final_df.shape

(1447, 9)

In [0]:
#Applying tfidf vectorizer on the data

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel 

X = final_df['title']
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3),max_features=None,strip_accents='unicode', stop_words='english')
tf_matrix = tf.fit_transform(final_df['title'])
# df_temp = pd.DataFrame(tf.transform(X).todense(),columns=tf.get_feature_names())

In [0]:
#Finding the cosine similarities
cosine_similarities = linear_kernel(tf_matrix, tf_matrix) 
results = {}
idx = 0
row = 0
count = 0
for idx, row in final_df.iterrows():
   similar_indices = cosine_similarities[idx-1].argsort()[:-100:-1] 
   similar_items = [(cosine_similarities[idx-1][i], final_df['_id'][i]) for i in similar_indices] 
   results[row['_id']] = similar_items[1:]

In [0]:

def item(_id):  
  return final_df.loc[final_df['_id'] == _id]['title'].tolist()[0].split(' - ')[0] 

def recommend(item_id, num):
    print("Recommending " + str(num) + " products similar to " + item(item_id) + "...")   
    print("-------")    
    recs = results[item_id][:num]   
    for rec in recs: 
       print("Recommended: " + item(rec[1]) + " (score:" +      str(rec[0]) + ")")

In [15]:
#Recommendation results
recommend(item_id='5d60098a653a331687083238', num=10)

Recommending 10 products similar to configure docker with django  postgresql  pg admin   elasticsearch...
-------
Recommended: aws services and how to launch os on aws cloud (score:0.2952802598606897)
Recommended: understanding cloud computing aws  (score:0.2952802598606897)
Recommended: machine learning   operations   mlops  (score:0.2952802598606897)
Recommended: machine learning   operations   mlops  (score:0.2952802598606897)
Recommended: photography composition (score:0.2952802598606897)
Recommended: you  are enough  (score:0.2952802598606897)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: fashion illustration (score:0.0)
Recommended: launching an ec2 instance  (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)

In [16]:
recommend(item_id='5ecb979eeaff6b0c3a58a4f0', num=10)

Recommending 10 products similar to configure docker with django  postgresql  pg admin   elasticsearch...
-------
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0642995296829686)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0642995296829686)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.06336892205049756)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.06336892205049756)
Recommended: human illustration  with galaxy background  (score:0.05409397080913225)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: fashion illustration (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)

In [17]:
final_df.isnull().sum().any

<bound method Series.any of _id            0
name           0
gender         0
academics      0
post_id        0
timestamp      0
title          0
category      88
 post_type     0
dtype: int64>

In [0]:
final_df = final_df.dropna(how='any')

In [19]:
#Recommendations based on category column only
final_df['category'].dtypes
final_df.isnull().sum().any

<bound method Series.any of _id           0
name          0
gender        0
academics     0
post_id       0
timestamp     0
title         0
category      0
 post_type    0
dtype: int64>

In [20]:
final_df.shape

(1359, 9)

In [21]:
final_df['category'] = final_df['category'].replace("|",' ')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
final_df['category']

0       Computer Technology|Computer Application|Infor...
1       Computer Technology|Computer Application|Infor...
2       Computer Technology|Computer Application|Infor...
3       Computer Technology|Computer Application|Infor...
4                     Computer Technology|Cloud Computing
                              ...
1440                         Mass Media|Media And Society
1441                  Visual Arts|Calligraphy|Pen and ink
1444                                      Artistic design
1445                   Calligraphy|Typography|Pen and ink
1446    Computer Technology|Computer Application|Infor...
Name: category, Length: 1359, dtype: object

In [23]:
#Recommendations based on category column
#Data cleaning steps
from html.parser import HTMLParser
html_parser = HTMLParser()
final_df['category'] = final_df['category'].apply(lambda x: html_parser.unescape(x))
import re
final_df['category']= final_df['category'].apply(lambda x: x.lower())

#Extracting only words from Service
final_df['category'] = final_df['category'].apply(lambda x: re.sub(r'#[\W]*',' ',x))

final_df['category'] = final_df['category'].apply(lambda x: re.sub(r'[^a-zA-Z0-9]',' ',x))
final_df['category']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: The unescape method is deprecated and will be removed in 3.5, use html.unescape() instead.
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

0       computer technology computer application infor...
1       computer technology computer application infor...
2       computer technology computer application infor...
3       computer technology computer application infor...
4                     computer technology cloud computing
                              ...
1440                         mass media media and society
1441                  visual arts calligraphy pen and ink
1444                                      artistic design
1445                   calligraphy typography pen and ink
1446    computer technology computer application infor...
Name: category, Length: 1359, dtype: object

In [24]:
Appostophes = {"'s":"is","'re":"are","s":" "}
final_df['category'] = final_df['category'].replace("s",' ')
final_df['category'] = final_df['category'].replace("'s",'is')
final_df['category'] = final_df['category'].replace("'re",'are')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [0]:
final_df['category']
final_df = final_df.reset_index(drop=True)

In [0]:
#Applying tdidf on category column only
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel 
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3),max_features=None,strip_accents='unicode', stop_words='english')
tf_matrix = tf.fit_transform(final_df['category'])
# df_temp = pd.DataFrame(tf.transform(X).todense(),columns=tf.get_feature_names())

In [0]:
#Finding cosine similarities
cosine_similarities = linear_kernel(tf_matrix, tf_matrix) 
results = {}
idx = 0
row = 0
count = 0
for idx, row in final_df.iterrows():
   similar_indices = cosine_similarities[idx].argsort()[:-100:-1] 
   similar_items = [(cosine_similarities[idx][i], final_df['_id'][i]) for i in similar_indices] 
   results[row['_id']] = similar_items[1:]

In [0]:

def item(_id):  
  return final_df.loc[final_df['_id'] == _id]['title'].tolist()[0].split(' - ')[0] 

def recommend(item_id, num):
    print("Recommending " + str(num) + " products similar to " + item(item_id) + "...")   
    print("-------")    
    recs = results[item_id][:num]   
    for rec in recs: 
       print("Recommended: " + item(rec[1]) + " (score:" +      str(rec[0]) + ")")

In [29]:
#Recommendations result
recommend(item_id='5d60098a653a331687083238', num=10)

Recommending 10 products similar to configure docker with django  postgresql  pg admin   elasticsearch...
-------
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:1.0)
Recommended: launching an ec2 instance  (score:0.5404983004060651)
Recommended: gun store logo  (score:0.35222127470047776)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.3188013105007494)
Recommended: aws services and how to launch os on aws cloud (score:0.3188013105007494)
Recommended: fashion illustration (score:0.27751799511158964)
Recommended: fashion illustration (score:0.27751799511158964)
Recommended: machine learning   operations   mlops  (score:0.27751799511158964)
Recommended: fashion illustration (score:0.27751799511158964)
Recommended: fashion illustration (score:0.27751799511158964)

In [0]:
#Now applying nlp on two columns category and title
#Since matrix of nlp on title is different from nlp on category column

#matrix based on title column
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel 
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3),max_features=None,strip_accents='unicode', stop_words='english')
tf_title_matrix = tf.fit_transform(final_df['title'])
# df_temp = pd.DataFrame(tf.transform(X).todense(),columns=tf.get_feature_names())

In [31]:

tf_matrix 

tf1 = np.array(tf_matrix)
tf_title_matrix

tf1
tf2 = np.array(tf_title_matrix)
tf2

tf_final = np.vstack((tf1,tf2))
tf_final

tf3 = tf_final.flatten()
tf3

array([<1359x1099 sparse matrix of type '<class 'numpy.float64'>'
	with 8544 stored elements in Compressed Sparse Row format>,
       <1359x1842 sparse matrix of type '<class 'numpy.float64'>'
	with 6844 stored elements in Compressed Sparse Row format>], dtype=object)

In [0]:
from scipy.sparse import hstack
merged_mat = hstack((tf_matrix, tf_title_matrix))

In [33]:
#Merged sparsed matrix
merged_mat

<1359x2941 sparse matrix of type '<class 'numpy.float64'>'
	with 15388 stored elements in COOrdinate format>

In [0]:
cosine_similarities = linear_kernel(merged_mat, merged_mat) 
results = {}
idx = 0
row = 0
count = 0
for idx, row in final_df.iterrows():
   similar_indices = cosine_similarities[idx].argsort()[:-100:-1] 
   similar_items = [(cosine_similarities[idx][i], final_df['_id'][i]) for i in similar_indices] 
   results[row['_id']] = similar_items[1:]

In [0]:
def item(_id):  
  return final_df.loc[final_df['_id'] == _id]['title'].tolist()[0].split(' - ')[0] 

def recommend(item_id, num):
    print("Recommending " + str(num) + " products similar to " + item(item_id) + "...")   
    print("-------")    
    recs = results[item_id][:num]   
    for rec in recs: 
       print("Recommended: " + item(rec[1]) + " (score:" +      str(rec[0]) + ")")

In [36]:
#@title Default title text
#Recommendation results based  on both the columns
recommend(item_id='5d60098a653a331687083238', num=10)

Recommending 10 products similar to configure docker with django  postgresql  pg admin   elasticsearch...
-------
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:2.0)
Recommended: launching an ec2 instance  (score:0.5404983004060651)
Recommended: gun store logo  (score:0.35222127470047776)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.3188013105007494)
Recommended: aws services and how to launch os on aws cloud (score:0.3188013105007494)
Recommended: fashion illustration (score:0.2775179951115897)
Recommended: aws services and how to launch os on aws cloud (score:0.2775179951115897)
Recommended: fashion illustration (score:0.2775179951115897)
Recommended: human illustration  with galaxy background  (score:0.2775179951115897)
Recommended: kabir singh (score:0.2775179951115897)

In [37]:
#We applied tfidf lets try count vectorizer on first,second and the on both the columns
import nltk
nltk.download('punkt')
from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer(
    analyzer="word", tokenizer=nltk.word_tokenize,
    preprocessor=None, stop_words='english', max_features=None)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [0]:
#On title column recommendations
bag_of_words_title = count_vectorizer.fit_transform(final_df['title'])


#Finding the cosine similarities
cosine_similarities = linear_kernel(bag_of_words_title,bag_of_words_title) 
results = {}
idx = 0
row = 0
count = 0
for idx, row in final_df.iterrows():
   similar_indices = cosine_similarities[idx-1].argsort()[:-100:-1] 
   similar_items = [(cosine_similarities[idx-1][i], final_df['_id'][i]) for i in similar_indices] 
   results[row['_id']] = similar_items[1:]

In [0]:
def item(_id):  
  return final_df.loc[final_df['_id'] == _id]['title'].tolist()[0].split(' - ')[0] 

def recommend(item_id, num):
    print("Recommending " + str(num) + " products similar to " + item(item_id) + "...")   
    print("-------")    
    recs = results[item_id][:num]   
    for rec in recs: 
       print("Recommended: " + item(rec[1]) + " (score:" +      str(rec[0]) + ")")

In [40]:
#Recommendations result based on title column using count vectorizer
recommend(item_id='5d60098a653a331687083238', num=10)

Recommending 10 products similar to configure docker with django  postgresql  pg admin   elasticsearch...
-------
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: fashion illustration (score:0.0)
Recommended: launching an ec2 instance  (score:0.0)
Recommended: keep working hard    (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: aws services and how to launch os on aws cloud (score:0.0)
Recommended: fashion illustration (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: launching an ec2 instance  (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)

In [0]:
#count vectorizer based on category column only

bag_of_words_category = count_vectorizer.fit_transform(final_df['category'])

cosine_similarities = linear_kernel(bag_of_words_category,bag_of_words_category) 
results = {}
idx = 0
row = 0
count = 0
for idx, row in final_df.iterrows():
   similar_indices = cosine_similarities[idx-1].argsort()[:-100:-1] 
   similar_items = [(cosine_similarities[idx-1][i], final_df['_id'][i]) for i in similar_indices] 
   results[row['_id']] = similar_items[1:]

In [0]:
def item(_id):  
  return final_df.loc[final_df['_id'] == _id]['title'].tolist()[0].split(' - ')[0] 

def recommend(item_id, num):
    print("Recommending " + str(num) + "posts similar to " + item(item_id) + "...")   
    print("-------")    
    recs = results[item_id][:num]   
    for rec in recs: 
       print("Recommended: " + item(rec[1]) + " (score:" +      str(rec[0]) + ")")

In [47]:
#Recommendation results based on category column only
recommend(item_id='5d60098a653a331687083238', num=10)

Recommending 10posts similar to configure docker with django  postgresql  pg admin   elasticsearch...
-------
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: fashion illustration (score:0.0)
Recommended: launching an ec2 instance  (score:0.0)
Recommended: keep working hard    (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: aws services and how to launch os on aws cloud (score:0.0)
Recommended: fashion illustration (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: launching an ec2 instance  (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)

In [0]:
#count vectorizer on both the columns
#count vectorizer based on category column only

cosine_similarities = linear_kernel(merged_mat,merged_mat) 
results = {}
idx = 0
row = 0
count = 0
for idx, row in final_df.iterrows():
   similar_indices = cosine_similarities[idx-1].argsort()[:-100:-1] 
   similar_items = [(cosine_similarities[idx-1][i], final_df['_id'][i]) for i in similar_indices] 
   results[row['_id']] = similar_items[1:]

In [0]:
def item(_id):  
  return final_df.loc[final_df['_id'] == _id]['title'].tolist()[0].split(' - ')[0] 

def recommend(item_id, num):
    print("Recommending " + str(num) + " posts similar to " + item(item_id) + "...")   
    print("-------")    
    recs = results[item_id][:num]   
    for rec in recs: 
       print("Recommended: " + item(rec[1]) + " (score:" +      str(rec[0]) + ")")

In [49]:
#Recommending posts similar to a given post
recommend(item_id='5d60098a653a331687083238', num=10)

Recommending 10 posts similar to configure docker with django  postgresql  pg admin   elasticsearch...
-------
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: fashion illustration (score:0.0)
Recommended: launching an ec2 instance  (score:0.0)
Recommended: keep working hard    (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: aws services and how to launch os on aws cloud (score:0.0)
Recommended: fashion illustration (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: launching an ec2 instance  (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)

In [0]:
#Recommending posts for a given user id

def item(_id):  
  return final_df.loc[final_df['_id'] == _id]['title'].tolist()[0].split(' - ')[0] 

def recommend(item_id, num):
    print("Recommending " + str(num) + " posts for a given user id " + item_id + "...")   
    print("-------")    
    recs = results[item_id][:num]   
    for rec in recs: 
       print("Recommended: " + item(rec[1]) + " (score:" +      str(rec[0]) + ")")

In [51]:
#Recommendations result
recommend(item_id='5d60098a653a331687083238', num=10)

Recommending 10 posts for a given user id 5d60098a653a331687083238...
-------
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: fashion illustration (score:0.0)
Recommended: launching an ec2 instance  (score:0.0)
Recommended: keep working hard    (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: aws services and how to launch os on aws cloud (score:0.0)
Recommended: fashion illustration (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)
Recommended: launching an ec2 instance  (score:0.0)
Recommended: configure docker with django  postgresql  pg admin   elasticsearch (score:0.0)